---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard';

const projects = [
  {
    title: "AI Creations",
    description: "This was made using NextJs, TailwindCSS, and AWS. It is a web application that allows users to create and view user generated AI creations. Whether it be images, music, film, or videos. All within a featured page with likes/comments, and user profiles pages for each user. With the goal also being to allow users to sell their creations and have a marketplace for AI creations to buy and sell from each other. Note that there will be monitary gains for me from this project, but it is a project that I am passionate about and want to see it come to life.",
    image: "/AI_Creations.png",
    technologies: ["React", "Node.js", "Prisma", "NextJS"],
    siteUrl: "https://aicreationscentral.com"
  },
  {
    title: "LMS FIU",
    description: "A learning management system that is integrated into Facebook. It was created for underdeveloped regions to access through Facebook with no data charges. Some core functionality includes allowing professors/admins to create courses and course content (pdfs/links/qualtrics quizzes), and students to enroll in courses and view course content.",
    image: "/LMS_FIU.jpg",
    technologies: ["MySQL", "Express", "Angular", "NodeJS"],
    siteUrl: "https://github.com/pantharev/lms-fiu-fb-client"
  },
  {
    title: "SurveySpeak",
    description: "Web application prototype that would allow people to take surveys that 'speak' to the user with their own ai personalities. Has a personal assistaint robot made with OpenAI api that can be interacted with. General wrapper around the OpenAI api that tracks chat history and can be used as a chatbot.",
    image: "/SurveySpeak.png",
    technologies: ["React", "TailwindCSS", "NodeJS", "PostgresSQL"],
    siteUrl: "https://brainspeak.onrender.com/"
  }
];
---

<Layout title="Projects - Full Stack Developer" description="Explore my portfolio of web development and software engineering projects">
  <div class="py-12">
    <div class="max-w-3xl mb-12">
      <h1 class="text-4xl font-bold mb-4">My projects</h1>
      <p class="text-text/80 text-lg">Discover some of the previous projects I have worked on.</p>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {projects.map(project => (
        <ProjectCard {...project} client:load />
      ))}
    </div>
  </div>
</Layout>